
.value {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 300px;
    border: 2px solid darkgreen;
    margin: 55px auto;
    border-radius: 30px;
    background-color: burlywood;
    font: normal 13px/1.5 "Helvetica", sans-serif;
    font-style: normal;
    font-size: 100px;
    font-family: "Helvetica", sans-serif;
    color: darkgreen;
}

.error{
    color: brown;
}

.textError{
    font-size: 50px;
    color: brown;
    text-align: center;
    margin: 65px;
}
